*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#01132b,#0d45b6,#0565cb,#092659);
}

.calculator{
    width:340px;
    padding:20px;
    border-radius:25px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 15px 35px rgba(0,0,0,0.4);
}

#display{
    width:100%;
    height:70px;
    border:none;
    outline:none;
    border-radius:15px;
    margin-bottom:20px;
    text-align:right;
    font-size:30px;
    padding:15px;
    background:rgba(255, 255, 255, 0.329);
    color:white;
    letter-spacing: 2px;
    font-weight: bold;
}
.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

button{
    height:65px;
    border:none;
    border-radius:15px;
    font-size:22px;
    cursor:pointer;
    background:rgba(255,255,255,0.2);
    color:white;
    transition:0.3s;
}

button:hover{
    background:rgba(255,255,255,0.4);
    transform:scale(1.05);
    box-shadow:0 0 15px rgba(255, 255, 255, 0.329) ;
}

.operator{
    background:#913981;
}

.operator:hover{
    background:#40093b;
}

.equal{
    grid-column:span 2;
    background:#07863c;
}

.equal:hover{
    background:#00b248;
}
h2{
    text-align:center;
    color:white;
    margin-bottom:20px;
    letter-spacing:1px;
}